.yd-image-text-input {
  position: absolute;
  z-index: 999999999;
  height: auto;
  border: none;
  overflow: hidden;
  outline: none;
  background: transparent;
  resize: none;
  white-space: nowrap;
}
