@mixin red-text {
  color: red;
}

@mixin customColor ($color : pink) {
  @if ($color ==orange) {
    color: skyblue;
  }

  @else {
    color: $color;
  }
}

// div {
//   // color: red;
//   @include red-text;
//   @include customColor(orange);
// }

@mixin dark-mode {
  background-color: black;
  color: white;


  &.dark {
    @content;
  }
}

div {
  @include dark-mode {
    border: 1px solid white;
  }

}


.test {
  color: red
}


button {
  @extend div;
  @extend .test;
}